body{
  display: flex;
  justify-content: center;
  font-size: 62.5%;
  font-family: 'Roboto', 'Arial', sans-serif;
  box-sizing: border-box;

  .container{
    width: 72%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 500px) {
      width: 100%;
}
}
}

.navbar{
  position: fixed;
  display: flex;
  justify-content: space-between;
  height: 50px;
  width: 71.1%;
  background-color: #99A4AF;
  font-size: 1.5rem;
  z-index: 1;

  @media (max-width: 500px){
    align-items: center;
    height: 70px;
    width: 96.4%;
}

  h1{
    
    margin-bottom: 5px;
    margin-top: 5px;
    padding-top: 0px;
    height: 40px;
    font-size: 1.4;
    font-weight: 600;
    margin-left: 18%;
    color: #FFFFFF;
    z-index: 2;

    @media (max-width: 500px){
      font-size: 2rem;
      padding: 0;
      margin-left: 30px;
}
}

  .nav-items{
    display: none;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    top: 0;
    left: 0;
    height: 100vh;
    width:70.2vw;
    opacity: .95;
    background-color: #99A4AF;

    @media (max-width: 500px) {
      width: 100vw;
}

    a{
      font-size: 3rem;
      text-decoration: none;
      font-weight: 600;
      margin-bottom: 5%;
      color: #FFFFFF;
      margin-left: 40%;

      @media (max-width: 1000px){
        margin-left: 32%;
}
      @media (max-width: 500px){
        margin-left: 10%;
      }

      &:hover{
        color: #504545;
        cursor: pointer;
}

      @media (max-width: 500px){
        font-size: 5rem;
        margin-bottom: 10%;
      }
    }
  }

  .active{
    display: flex;
  }

  img{
    margin-right: 18%;
    padding-top: 12px;
    height: 21px;
    widows: 32px;
    display: none;
    z-index: 2;
    cursor: pointer;


    @media (max-width: 500px){
      padding: 0;
      margin-right: 30px
    }
  }

}

.jumbo{
  height: 550px;
  margin-top: 50px;

  @media (max-width: 500px){
   height: 5.5%;   
   margin-bottom: 7%;
   width: 100%;
  }

  img{
    height: 100%;
    width: 100%;

    @media (max-width: 500px){
    width: 100%;
     height: 100%; 
    }
  }

  .home-jumbo{

    @media(max-width: 500px){
      display:none;
    }
  }

  .home-jumbo-mobile{
    display: none;

    @media (max-width: 500px){
      display: block;
      height: 300px;
      width: 100%;
    }
  }

  .jumbo-text{
    font-size: 4rem; 
    margin: -275px 0 0 5%;
    font-weight: 600;
    width: 300px;
    color: #FFFFFF;

    @media (max-width: 500px){
      font-size: 3rem;
      margin: -210px 0 0 10px;
    }

    p{
      margin: 10px;
    }
  }
}

.learn-more{
  display:flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 500px){
    height: 1400px;
    margin-top: 50px;
    width: 95%;
  }

  .learn-more-card{
    display: flex;
    justify-content: space-between;
    width: 83%;
    padding: 25px, 0;
    margin: 50px 0;

    @media (max-width: 500px){
      flex-direction: column;
      height: 650px;
      margin: 0 0 25px 0;
    }

    .learn-more-img{
        @media (max-width: 500px){
          order: 1;
          display:  none;
        }

        img{
          max-width: 100%;
          margin-left: 20px;
          margin-right: 20px;
          @media (max-width: 500px){

          }
        }
    }

    .learn-more-img-mobile{
      display: none;

      @media (max-width: 500px) {
        display: block;
      }

      img{
        @media (max-width: 500px){
          width: 100%;
        }
      }
    }

    .learn-more-content {
      display: flex;
      flex-direction: column;
      margin: 45px 0;
      margin-left: 40px;
      width: 50%;

      @media (max-width: 500px){
        order: 2;
        width: 100%;
        height: 350px;
        margin: 0;
      }
  justify-content: center;
  small{
    display: flex;
    justify-content: center;
    height: 10%;
    font-size: .7rem;

    @media (max-width: 500px){
      height: 45px;
      justify-content: flex-start;
      align-items: center;
      margin-left: 5%;

    }
  }
}
}

body .container-home {
  width: 70%;
}

.navbar {
display: flex;
justify-content: space-around;
font-size: 1.5rem;
height: 50px;
background-color:#99A4AF;
}